<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>AnaCris Bolos</title>
    <link href="/static/css/estilo.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/gallery.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/gallery.theme.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="static/js/angular.min.js"></script>
    <script type="text/javascript" src="static/js/usuario_control.js"></script>
</head>
<body>
    <div id="tudo">
    <div id="topo">
        <div id="logo"><a href="/home"><img src="/static/img/logo.jpg" width="149px" height="105px" alt="AnaCris bolos" /></a></div><!--logo-->
        <div id="social"></div><!--social-->

        <div id="menu">
            <ul>
                {% block menu %}

                {%  endblock %}
            </ul>
        </div><!--menu-->
    </div><!--topo-->
    <div id="separa"></div>
    {% block conteudo %}

    {% endblock %}
    <div id="rodape">
        <div id="rodapeTexto">
            <ul>
                {%  if _usuario_logado %}
                    <li ><a href="{{ _logout_url }}" > {{ _usuario_logado.nome }} | Sair</a></li>
                {% else %}
                    <li ><a href="{{ _login_url }}" > Login para funcionários</a></li>
                {% endif %}
                <li style="float: right">©2014. AnaCris Bolos | Desenvolvido por Matheus</li>
            </ul>
            <br>
            <ul>
                <li> <a href="/listar"> Usuários </a></li>
            </ul>
        </div>
    </div><!--rodapé-->

</div><!--tudo-->
</body>
</html>