{% extends 'templates/base.html' %}
{% block menu %}
    <li ><a href="/home" >Home</a></li>
    <li ><a href="/galeria">Galeria</a></li>
    <li ><a href="/reserva">Reservas</a></li>
    <li ><a href="/contato">Contato</a></li>
{% endblock %}
{% block conteudo %}
        <div id="tabela" ng-app="myApp" ng-controller="controller">
            <table>
                <thead>
                    <tr>
                        <th>nº</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Controle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="usu in usuarios">
                        <td>{_ $index + 1 _}</td>
                        <td>
                            <span ng-hide="usu.editando">{_ usu.nome _}</span>
                            <input type="text" class="form-control input-sm" ng-show="usu.editando" ng-model="usu.nome">
                        </td>
                        <td>
                            <span ng-hide="usu.editando">{_ usu.email _}</span>
                            <input type="text" class="form-control input-sm" ng-show="usu.editando" ng-model="usu.email">
                        </td>
                        <td>
                            <button class="btn btn-primary btn-sm" ng-click="editarUsuario(usu)" ng-hide="usu.editando">
                                Editar<!--<i class="glyphicon glyphicon-pencil"></i>-->
                            </button>
                            <button class="btn btn-success btn-sm" ng-click="confirmarEdicao(usu)" ng-show="usu.editando">
                                Confirmar<!--<i class="glyphicon glyphicon-ok"></i>-->
                            </button>
                            <button class="btn btn-danger btn-sm" ng-click="removerElemento(usu,$index)">
                                Remover<!--<i class="glyphicon glyphicon-trash"></i>-->
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
{% endblock %}