{% extends 'templates/base.html' %}
{% block configuracao %}
    <link href="/static/css/estilo.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block menu %}
    <li ><a href="/home" >Home</a></li>
    <li ><a href="/galeria">Galeria</a></li>
    <li  class="active"><a href="/reserva" class="active">Reservas</a></li>
    <li ><a href="/contato">Contato</a></li>
{% endblock %}
{% block conteudo %}
<div id="conteudo">
    <form action="{{ salvar_curso }}" method="post" role="form">
        <div id="form-group">
            <label>Nome: </label><input type="text" name="nome" />

        </div>
        <div id="form-group">
            <label>E-mail: </label><input type="text" name="email" />
        </div>
        <div id="form-group">
            <label>Telefone: </label><input type="text" name="telefone" />
        </div>
        <div id="form-group">
            <label>Desscrição: </label><textarea type="text" name="mensagem" ></textarea>
        </div>
        <div id="form-group">
        <button type="submit" value="Salvar" class="btn btn-default">Enviar</button>
        </div>
    </form>
</div>
{% endblock %}